<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <TelemetryProcessors>
  </TelemetryProcessors>
  <!-- This key is for Application Insights resource 'DrawPub.ImageService' in resource group 'Default-ApplicationInsights-CentralUS' -->
  <InstrumentationKey>45d65652-5d38-4eeb-a7d7-9587fcadfd6d</InstrumentationKey>
</ApplicationInsights>